@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

html{
  padding: 20px;

  background-image: url(background.webp);
  background-attachment: fixed;
  background-size: 100%;

  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
}

ul {
  list-style: none;
}

li {
display: inline-block;
margin-right: 20px;
padding: 15px;
}

/*HEADER*/



/*PICTURES*/

#pictureContainer {
  display: flex;
  flex-wrap: wrap;
}

span {
  display: block;
}

.picture img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 500px) and (max-width: 1000px)
{
  .picture {
    flex: 0 1 calc(50% - 8px);
  }
}

@media only screen and (min-width: 1000px)
{
  .picture {
    flex: 0 1 calc(20% - 8px);
  }
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 4px;
}

.pageNav{
  text-align: center;
}
