@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');




* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html{
  padding: 20px;

  background-image: url(background.webp);
  background-attachment: fixed;
  background-size: 100%;

  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
}

ul {
  list-style: none;
}

li {
display: inline-block; 
margin-right: 20px;
padding: 15px;
}

/*HEADER*/




/*PICTURES*/

#pictureContainer {
  display: flex;
  flex-wrap: wrap;
}

span {
  display: block;
}

.picture img {
  max-width: 300px;
  flex: 0 1 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 4px;
}

.pageNav{
  text-align: center;
}


